<menu *ngFor="let project of projects">

  <li>
    <strong>Projet : </strong> {{ project.name }}
    <button id="addPjBtn" routerLink="create-project" routerLinkActive="active" class="btn btn-success">➕</button>

      <button (click)="updateProject(project.project_id)" class="btn btn-info">✏</button>
      <button (click)="deleteProject(project.project_id)" class="btn btn-danger">🗑</button>
  </li>
    <ul><strong>Description :</strong> {{ project.description }}</ul>
    <ul><strong>Start date :</strong> {{ project.startDate }}</ul>
    <ul><strong>Deadline :</strong> {{ project.deadline }}</ul>

    <ul><strong> List of the project's tasks :</strong></ul>
    <li *ngFor="let task of project.tasks">
      <p><strong>Title :</strong> {{ task.title }}</p>
      <p><strong>Description :</strong> {{ task.description }}</p>
    </li>

    <ul><strong> List of the project's participants :</strong></ul>

    <li *ngFor="let u of project.participants">
      <p><strong>Name :</strong> {{ u.name }}</p>
      <p><strong>Email :</strong> {{ u.email }}</p>
    </li>

</menu>
