<button id="addPjBtn" routerLink="create-project" routerLinkActive="active" class="btn btn-success"> Create a project ➕</button>
<menu *ngFor="let project of projects">

  <li>
    <strong>Projet : </strong> {{ project.name }}
    <p *ngIf="project.done">Done ✅</p>
    <p *ngIf="!project.done">Not done yet ❌</p>
    <button (click)="updateProject(project.project_id)" class="btn btn-info">✏</button>
    <button (click)="deleteProject(project.project_id)" class="btn btn-danger">🗑</button>
  </li>
    <ul><strong>Description :</strong> {{ project.description }}</ul>
    <ul><strong>Start date :</strong> {{ project.startDate }}</ul>
    <ul><strong>Deadline :</strong> {{ project.deadline }}</ul>

  <ol><strong> List of the project's tasks :</strong>
    <button id="addTkBtn" routerLink="{{project.project_id}}/create-task" routerLinkActive="active" class="btn btn-success">➕</button>
    <ul *ngFor="let task of project.tasks">
        <ul>
          <strong>Title :</strong> {{ task.title }}
          <p *ngIf="task.done">Done ✅</p>
          <p *ngIf="!task.done">Not done yet ❌</p>
          <button (click)="updateTask(task.id)" class="btn btn-info">✏</button>
          <button (click)="deleteTask(task.id)" class="btn btn-danger">🗑</button>
        </ul>
        <ul><strong>Description :</strong> {{ task.description }}</ul>

    </ul>
  </ol>
  <ol><strong> List of the project's participants : </strong>
      <label for="user-select"> Add a particpant :</label>
      <select id="user-select" [(ngModel)]="selectedUser">
        <option *ngFor="let user of allUsers" [ngValue]="user">{{ user.name }}</option>
      </select>
    <button (click)="addUserToProject(project.project_id)" class="btn ">➕</button>
    <ul *ngFor="let u of project?.participants ?? []">
      <ul>
        <p>{{ u.name }} ({{ u.email }}) </p>
      </ul>
    </ul>
  </ol>
</menu>
