<div class="container">
  <button class="openbtn" onclick="openNav()">&#9776; Liste des tâches</button>
  <div id="taskListSide" class="sidepanel">
    <button href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</button>
    <ul>
      <li *ngFor="let task of tasks">
        <p><strong>Titre :</strong> {{ task.getTitle() }}</p>
        <p><strong>Description :</strong> {{ task.getDescr() }}</p>
        <p><strong>Date de début :</strong> {{ task.getStartDate() }}</p>
        <p *ngIf="task.getDone()"><strong>Date de fin :</strong> {{ task.getEndDate() }}</p>
      </li>
    </ul>
  </div>
</div>

  <script>
    function openNav() {
      document.getElementById("taskListSide").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("taskListSide").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>

