<menu *ngFor="let project of projects">
  <button (click)="updateProject(project.project_id)" class="btn btn-info"> Update</button>
  <li *ngFor="let task of project.tasks">
    <p><strong>Titre :</strong> {{ project.nameP }}</p>
    <p><strong>Date de debut :</strong> {{ project.startDateP }}</p>
    <p><strong>Deadline :</strong> {{ project.deadLineP }}</p>
  </li>
  <li *ngFor="let task of project.tasks">
    <p><strong>Titre :</strong> {{ task.title }}</p>
    <p><strong>Description :</strong> {{ task.description }}</p>
    <p><strong>Date de début :</strong> {{ task.startDate }}</p>
    <p *ngIf="task.done"><strong>Date de fin :</strong> {{ task.endDate }}</p>

  </li>

</menu>
